@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/static/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/static/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.header-section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden; /* Ensures the video doesn’t overflow the container */
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the entire background */
    z-index: -1; /* Puts the video behind the content */
}

.hero-content {
    position: relative;
    z-index: 2; /* Ensures the content is in front of the video */
    color: white;
    text-align: center;
    padding: 20px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: padding 0.3s ease;
}

.logo img {
    width: 200px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

.menu-container {
    position: absolute;
    display: none;
    height: 300px;
    width: 350px;
    margin: 0 auto;
}

nav ul li:hover .menu-container {
    display: block;
}

ul.child-menu {
    position: absolute;
    right: 0;
    width: 350px;
    background: white;
    border-radius: 18px;
    border: 1px solid #E3E3E3;
    z-index: 1000;
    display: block;
    margin-top: 20px;
}

ul.child-menu li {
    border-bottom: 1px solid #E3E3E3;
}

ul.child-menu li:last-child {
    border: none;
}

ul.child-menu a {
    color: #aaaaaa !important;
    text-transform: none;
    font-size: 15px;
    display: block;
    padding: 25px 45px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

ul.child-menu a:hover {
    color: #000 !important;
}

ul.child-menu .icon img {
    width: 20px;
}

.contact-button {
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    text-transform: uppercase;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 200px;
    height: 100%;
    position: relative;
    z-index: 2;
}

.content-box {
    padding: 40px 0;
    max-width: 600px;
    text-align: left;
}

.content-box h1 {
    font-size: 135px;
    font-weight: 700;
    line-height: 219px;
    color: #fff;
    letter-spacing: 15px;
    margin-bottom: -30px;
}

.content-box h2 {
    font-size: 32px;
    margin-bottom: -30px;
    line-height: 39px;
    color: #fff;
    font-weight: 500;
}

.content-box p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    line-height: 29px;
    color: #fff;
}

.thin-v {
    font-weight: 300;
}

.cta-button {
    border: 2px solid #fff;
    padding: 10px 30px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    text-transform: uppercase;
}

.cta-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

@media (max-width: 1000px) {
    header {
        padding: 30px 20px;
    }

    nav ul {
        gap: 15px;
    }

    .hero-content {
        padding-left: 0px;
        margin-top: 0;
    }

    .content-box {
        max-width: 100%;
        text-align: center;
    }

    .content-box h1 {
        font-size: 64px;
    }

    .content-box h2 {
        font-size: 22px;
    }

    .content-box p {
        font-size: 16px;
    }

    .cta-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 20px 15px;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo img {
        width: 120px;
    }

    .content-box h1 {
        font-size: 48px;
    }

    .content-box h2 {
        font-size: 20px;
    }

    .content-box p {
        font-size: 14px;
    }

    .cta-button {
        padding: 8px 16px;
        font-size: 12px;
    }
}

/* Section */
.section {
    padding: 50px 200px;
    text-align: left;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.section h4 {
    font-size: 20px;
    color: #8377D1;
    padding-bottom: 15px;
    font-weight: 700;
}

.section h2 {
    font-size: 35px;
    color: #1e1e1e;
    font-weight: 700;
    padding-bottom: 35px;
}

@media (max-width: 1600px) {
    .section {
        padding: 50px 180px; /* Reduce padding for smaller screens */
    }
}

@media (max-width: 1200px) {
    .section {
        padding: 50px 80px; /* Reduce padding for smaller screens */
    }
}

@media (max-width: 1000px) {
    .section {
        padding: 50px 20px; /* Reduce padding for smaller screens */
    }
}

@media (max-width: 768px) {
    .section {
        padding: 50px 15px; /* Reduce padding for smaller screens */
    }

    .section h4 {
        font-size: 18px; /* Adjust the font size */
        padding-bottom: 20px;
    }

    .section h2 {
        font-size: 28px; /* Adjust the font size */
        padding-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .section {
        padding: 30px 10px;
    }
}

/* Services Section */

.tabs {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    border: 2px solid #DCDCF3;
    border-radius: 50px;
    overflow: hidden;
    margin-bottom: 35px;
    max-height: 70px;
}

.tab {
    padding: 25px 7px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #1B1523;
    border-radius: 50px;
    word-break: break-word;
    white-space: normal;
    width: 440px;
    text-align: center;
}

.tab span.break-words {
    width: 50%;
    word-break: break-word;
    white-space: normal;
}

.tab.active {
    color: #fff;
    background: #3A1660;
    font-weight: 600;
    opacity: 1 !important;
}

.tab:hover {
    opacity: 0.5;
}

/* Service Cards */
.service-cards {
    justify-content: left;
}

.service-redirect-button {
    padding: 10px 30px;
    border-radius: 50px;
    text-decoration: none;
    color: #3A1660;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    border: 1px solid rgba(58, 22, 96, 0.2);
    background: rgba(58, 22, 96, 0.05);
    height: 44px;
    font-weight: 600;
}

.service-redirect-button img {
    width: 11px;
}

.service-redirect-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.card {
    background-color: #fff;
    border: 2px solid #DCDCF3;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-image: url('./../public/assets/images/service-card-bg.png');
    background-repeat: no-repeat;
    float: left;
    margin: 10px;
}

.card h3 {
    font-size: 16px;
    color: #1e1e1e;
    font-weight: bold;
    padding: 15px;
    height: 100px;
    overflow: hidden;
}

.card p {
    font-size: 15px;
    color: #666;
    line-height: 1.5;
    font-weight: 500;
}

/* Mobile Dropdown Wrapper */
.services-mobile-dropdown {
    position: relative;
    display: none;
    width: 100%;
}

/* Button Style */
.dropdown-button {
    background-color: #3A1660;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Arrow Icon for Button */
.dropdown-button::after {
    content: '▼';
    font-size: 12px;
    color: white;
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.services-mobile-dropdown.active .dropdown-button::after {
    content: '▲';
}

/* Dropdown List */
.dropdown-list {
    display: none;
    position: absolute;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid #DCDCF3;
    margin-top: 10px;
    width: 100%;
    z-index: 5;
    list-style: none;
    padding: 10px 0;
    overflow: hidden;
    text-align: left;
}

/* Dropdown List Items */
.dropdown-item {
    padding: 10px 30px;
    font-size: 16px;
    color: #1e1e1e;
    cursor: pointer;
}

/* Last item should not have a border */
.dropdown-item:last-child {
    border-bottom: none;
}

/* Show the dropdown when the button is clicked */
.services-mobile-dropdown.active .dropdown-list {
    display: block;
}

@media (max-width: 1750px) {
    .tab span.break-words {
        width: 65%;
    }
}

@media (max-width: 1470px) {
    .tab span.break-words {
        width: 80%;
    }
}

@media (max-width: 1330px) {
    .tab span.break-words {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .tabs {
        display: none;
    }

    .tab span.break-words {
        width: 100%;
    }

    .services-mobile-dropdown {
        display: inline-block;
        margin-bottom: 20px;
    }

    .service-cards {
        margin-bottom: 10px;
    }

    .card {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .card h3 {
        font-size: 16px; /* Smaller font size */
        padding: 10px;
    }

    .card p {
        font-size: 14px; /* Smaller font size */
    }
}

/* Extra small mobile devices (max-width: 480px) */
@media (max-width: 480px) {
    .card h3 {
        font-size: 12px; /* Adjust font size */
        padding: 10px;
    }

    .card p {
        font-size: 12px; /* Adjust font size */
    }
}

/* About us */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    position: relative;
    background: url('./../public/assets/images/logo_icon_outline.png') no-repeat left top;
    border: 2px solid #DCDCF3;
    border-radius: 50px;
    overflow: hidden;
}

.skill-box {
    box-sizing: border-box;
    flex: 1 1 30%;
    margin: 0;
    padding: 30px 15px 0;
    text-align: left;
}

.skill-box h3 {
    color: #3A1660;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}

.skill-box p {
    color: #1B1523;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 15px;
}

.icon-container {
}

.icon-container img {
    width: 40px;
    height: 40px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .skills-container {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }
}

/* Contact us */

.contact-form-container {
    position: relative;
    background-color: #EAE6F7;
    padding: 30px;
    border-radius: 25px;
}

/* Form Styles */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #5c4e80;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: #fafafa;
    font-size: 16px;
    color: #5c4e80;
}

textarea {
    resize: none;
    height: 150px;
}

input::placeholder,
textarea::placeholder {
    color: #c4c4c4;
}

/* Checkbox */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #5c4e80;
}

.checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.checkbox-container a {
    color: #8377D1;
    text-decoration: none;
}

.checkbox-container a:hover {
    text-decoration: underline;
}

/* reCAPTCHA Placeholder */
.recaptcha-container {
    display: flex;
    justify-content: left;
}

/* Submit Button */
.submit-button {
    background-color: #3A1660;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    align-self: flex-start;
}

.submit-button:hover {
    background-color: #4d2a85;
}

.submit-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* Initially hidden */
}

/* Highlight the input with a red border if invalid */
input.error, textarea.error {
    border: 1px solid red;
}

/* Footer Section */
.footer {
    background-color: #1B1523;
    color: #fff;
    padding: 50px 0;
    position: relative;
    background-image: url('./../public/assets/images/logo_icon_outline.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 520px;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 30px;
}

/* Logo Section */
.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-logo img {
    width: 150px; /* Adjust based on your logo's size */
    margin-bottom: 20px;
}

.footer-logo p {
    color: #aaa;
    font-size: 14px;
}

/* Footer Links Section */
.footer-links {
    display: flex;
    gap: 50px;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h4 {
    margin-bottom: 15px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ccc;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #fff;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        gap: 30px;
    }
}

.inner-page .header-section::before {
    background: none;
}

.inner-page .header-section {
    height: auto;
}

.inner-page section.inner-page-section p {
    padding: 20px 0;
}

.inner-page .header-section nav ul li a {
    color: #3A1660;
}

.inner-page header {
    background-color: #fff;
}

.inner-page header .cta-button {
    border-radius: 50px;
    background: #3A1660;
    color: #fff !important;
    padding: 14px 30px;
}

/* Modal background */
.gdpr-modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    align-items: center;
    justify-content: center;
}

/* Modal content */
.gdpr-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title and description */
.gdpr-modal h2 {
    margin: 0;
    font-size: 24px;
}

.gdpr-modal p {
    margin: 20px 0;
    font-size: 16px;
}

/* Buttons */
.gdpr-btn {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.accept-btn {
    background-color: #28a745;
    color: white;
}

.privacy-btn {
    background-color: #007bff;
    color: white;
    margin-left: 10px;
}

/* Add hover effects for buttons */
.gdpr-btn:hover {
    opacity: 0.8;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    justify-content: center;
    align-items: center;
    z-index: 10; /* Higher than form elements */
}

/* Spinner style */
.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Success message styling */
.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #e0f7e0;
    border: 1px solid #a0dca0;
    border-radius: 8px;
    color: #2c662c;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

.success-message i {
    font-size: 3em;
    margin-bottom: 10px;
    color: #4caf50;
}

.error-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 8px;
    color: #721c24;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

.error-message-container i {
    font-size: 3em;
    margin-bottom: 10px;
    color: #dc3545; /* Red color for the error icon */
}

.error-message-container h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.error-message-container a {
    color: #dc3545;
    text-decoration: none;
}

.privacy-policy-container {
    padding-top: 200px;
}

.privacy-policy-container .inner-page-content {
    display: block;
}

.text-center {
    text-align: center;
}

.clearfix {
    clear: both;
}

.inner-page-title {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-top: 150px;
}

.inner-page-title h1 {
    color: #3A1660;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}

/* Logo Background */
.logo-bg {
    position: relative;
    z-index: 1;
}

.logo-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./../public/assets/images/logo_icon_outline.png') no-repeat left top;
    background-size: contain;
    opacity: 0.5;
    z-index: -1;
    pointer-events: none;
}

/* Gravity Background */
.gravity-bg {
    background: url('./../public/assets/service_bg.jpg') no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.inner-page-section {
    position: relative;
    overflow: hidden;
    margin-bottom: 60px;
}

.inner-page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    position: relative;
    z-index: 2;
}

.inner-page-content {
    padding: 25px 70px 25px 0;
    text-align: left;
    font-weight: 400;
}

.inner-page-content p {
    font-size: 16px;
    line-height: 1.5;
}

.inner-page-section h2 {
    font-size: 28px;
    line-height: 45px;
}

/* Columns */
.inner-page-section .text-column {
    width: 70%;
    padding-right: 70px;
}

.image-column {
    width: 30%;
}

.image-column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Cards */
.inner-page-card {
    padding: 20px;
    text-align: center;
    overflow: hidden;
}

.inner-page-content.row_1 .inner-page-card {
    margin: 0 auto;
}

.inner-page-content.row_1 {
    width: 35%;
}

.inner-page-content.row_2 {
    width: 70%;
}

.inner-page-content.row_3 {
    width: 80%;
}

.inner-page-content.row_2 .inner-page-card,
.inner-page-content.row_3 .inner-page-card {
    flex: 1 1 calc(50% - 40px);
    max-width: calc(50% - 40px);
}

.inner-page-content.row_3 .inner-page-card {
    flex: 1 1 calc(33.33% - 40px);
    max-width: calc(33.33% - 40px);
}

.inner-page-card .icon img {
    width: 40px;
    margin-bottom: 15px;
}

.inner-page-card h3 {
    color: #3c1b5c;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.inner-page-card p {
    color: #333;
    min-height: 200px;
}

.inner-page-card p strong {
    color: #3c1b5c;
}

/* Principles Section */
.key-principles-section {
    margin: 0 auto;
}

.principles-row {
    display: flex;
    justify-content: space-between;
    gap: 1px;
}

.principles-row:last-child .principle-card {
    border-bottom: 0;
}

.principle-card {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    text-align: left;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.principle-card .icon-heading-container {
    display: flex;
    gap: 5px;
}

.principle-card .icon img {
    width: 20px;
    margin-bottom: 15px;
}

.principle-card::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    height: 100%;
    width: 1px;
    background-color: #ddd;
    transform: translateY(-50%);
}

.principles-row .principle-card:last-child::after {
    display: none;
}

.principle-card h3 {
    font-size: 20px;
    color: #3c1b5c;
}

.principle-card p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

/* Text Section */
.key-principles-section .text-section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin-bottom: 30px;
}

.left-content, .right-content {
    max-width: 45%;
    text-align: left;
}

.key-principles-section .text-section h2 {
    font-size: 36px;
    color: #3c1b5c;
    margin-bottom: 10px;
    font-weight: 700;
}

.key-principles-section .text-section h3 {
    font-size: 28px;
    color: #1B1523;
    font-weight: 400;
    margin-bottom: 20px;
}

.right-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 15px;
}

/* Contact Section */
.inner-page-contact {
    padding: 25px;
    position: relative;
    color: #1B1523;
    border: 2px solid #DCDCF3;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    width: 100%;
    background: #EAE6F7 url('./../public/assets/images/logo_icon_outline_white.png') no-repeat left top;
}

.inner-page-contact .cta-button {
    background-color: #3A1660;
    color: #FFFFFF;
}

.inner-page-contact h3 {
    font-size: 35px;
    font-weight: bold;
    color: #1B1523;
}

.inner-page-contact p {
    padding-bottom: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #1B1523;
}

@media (max-width: 1400px) {
    .inner-page-content .image-column {
        display: none;
        width: 0;
    }

    .inner-page-content .text-column {
        width: 100%;
    }

    .inner-page-section .text-column {
        padding-right: 0;
    }

    .inner-page-title h1 {
        font-size: 35px;
    }
}

/* Responsive Media Queries */
@media (max-width: 1024px) {
    .inner-page-content {
        padding: 70px 0 !important;
    }

    .inner-page-card {
        flex: 1 1 calc(50% - 40px) !important;
        max-width: calc(50% - 40px) !important;
        padding: 0 !important;
    }
}

@media (max-width: 768px) {
    .inner-page-content {
        flex-direction: column;
        text-align: center;
        padding: 70px 0 !important;
    }

    .text-column, .image-column {
        width: 100%;
        margin-bottom: 20px;
    }

    .image-column img {
        max-width: 100%;
    }

    .inner-page-card {
        flex: 1 1 100% !important;
        max-width: 100% !important;
    }

    .principles-row {
        flex-direction: column;
    }

    .principle-card {
        border: none;
    }

    .principle-card::after {
        display: none;
    }

    .key-principles-section .text-section {
        flex-direction: column;
        text-align: center;
    }

    .left-content, .right-content {
        max-width: 100%;
    }
}